name: Ruff

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Ruff
        uses: astral-sh/ruff-action@v1
        with:
          args: "check custom_components"
